
*{
    margin: 0px;
    padding: 0px;

    font-family:sans-serif;
    scroll-behavior: smooth;
}

.id{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.center{
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    width: 500px;
    height: 180px;
    border: 1px solid #000;
    padding-top: 120px;
    margin: 100px;
    border-radius: 20px;
}

.forgot_pw{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 10px;
}

.modal {
    display: none;
    position: absolute;
    top: 200px;
    left: 510px;
    z-index: 2;
    height: 120px;
    max-width: 500px;
    box-sizing: border-box;
    width: 90%;
    background: #fff;
    padding: 15px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    text-align: left
}



form > div:nth-child(1){
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 15px;
}

form > div:nth-child(2){
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 5px;
}

form > div:nth-child(3){
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 5px;
}

form > div:nth-child(3) > span:nth-child(1){
    right: 5px;
}

form > div:nth-child(3) > span:nth-child(2){
    left: 5px;
}