*{
    margin: 0px;
    padding: 0px;

    font-family:sans-serif;
    scroll-behavior: smooth;
}

.pw{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.center{
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    width: 500px;
    height: 180px;
    border: 1px solid #000;
    padding-top: 120px;
    margin: 100px;
    border-radius: 20px;
}

.forgot_pw{
    display: flex;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}
input{
    margin: 5px;
}



